@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:ital@0;1&family=Playball&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@200;400&display=swap');
body
{
    margin: 0;
    padding: 0;
}

.navbar 
{
    background-color: rgb(39, 39, 39);
}

.navbar-brand
{
    font-family: 'Playball';
    color:  #fff !important;
    font-size: 40px;
}

#navbarNav form
{
    margin-left: auto;
}

#navbarNav form input
{
    width: 200px;
    border-radius: 30px 30px 30px 30px ;
}

#navbarNav form .fa-search
{
    margin-left: -10%;
    margin-top: 5%;
}

#navbarNav form a
{
    margin-left: 30%;
}


#navbarNav ul
{
    margin-left: 15%;
    margin-right: 15%;
    color: #fff;
}

#navbarNav li a 
{
    color: white !important;
    font-size: 15px;
}

#navbarNav .dropdown-item
{
    color: #000 !important;
}

@media screen and (max-width:789px) 
{
    #navbarNav form .fa-search
    {
        margin-top: 5%;
        margin-left: -13%;
    }

    #navbarNav form a
    {
        margin-left: 100px;
    }

    #navbarNav form 
    {
        margin-left: 35%;
        margin-right: 35%;
    }

    .portail-phone h1
    {
        font-size: 50px;
    }

    .portail-phone img
    {
        width: 20%;
        height: 80%;
    }

}

@media screen and (min-width:100px) and (max-width:330px) 
{
    .navbar
    {
        width: 100%;
    }

    #navbarNav form .fa-search
    {
        margin-top: 10%;
        margin-left: -25%;
    }

    #navbarNav form a
    {
        margin-left: 40px;
    }

    #navbarNav form 
    {
        margin-left: 35%;
        margin-right: 35%;
    }

    #navbarNav form input
    {
        width: 140px;
    }

    .portail-phone h1
    {
        font-size: 40px;
    }

    .portail-phone img
    {
        width: 20%;
        height: 100px;
    }
}

@media screen and (min-width:380px) and (max-width:480px)  
{
    .navbar
    {
        width: 100%;
    }

    #navbarNav form .fa-search
    {
        margin-top: 10%;
        margin-left: -25%;
    }

    #navbarNav form a
    {
        margin-left: 40px;
    }

    #navbarNav form 
    {
        margin-left: 35%;
        margin-right: 35%;
    }

    #navbarNav form input
    {
        width: 140px;
    }

    .portail-phone h1
    {
        font-size: normal;
    }

    .portail-phone img
    {
        width: 20%;
    }

}

@media screen and (min-width:330px) and (max-width:380px)  
{
    .navbar
    {
        width: 100%;
    }

    #navbarNav form .fa-search
    {
        margin-top: 10%;
        margin-left: -25%;
    }

    #navbarNav form a
    {
        margin-left: 40px;
    }

    #navbarNav form 
    {
        margin-left: 35%;
        margin-right: 35%;
    }

    #navbarNav form input
    {
        width: 140px;
    }

    .portail-phone h1
    {
        font-size: 40px;
    }

    .portail-phone img
    {
        width: 20%;
    }
}


:root
{
    --primary-color: #FD4766;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337dff 100%);
}

/*----------------------------navbarCategories-------------------------*/
.nav-categories
{
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat';
}
.nav-categories a
{
    color: #337dff;
}

.nav-categories a span
{
    color: #FD4766;
}



/*----------------------------Phones-------------------------*/
.portail-phone
{
    padding: 5%;
}

.portail-phone img
{
    width: 100%;
}

.portail-phone h3 span
{
    color:#337dff;
}

.portail-phone h3
{
    color: #FD4766;
}

.portail-phone h1
{
    font-size: 80px;
}




/*----------------------------Phones-------------------------*/
#phones
{
    background-color: #000;
    padding: 5%;
    width: 100%;
    color: #fff;
}

#phones img
{
    border-radius: 10px 10px 10px 10px ;
}


#phones .phones-item .phones-link 
{
    position: relative;
    display: block;
    margin: 0 auto;
}

#phones .phones-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px ;
}

#phones .phones-item .phones-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#phones .phones-item .phones-link .phones-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(81, 80, 80);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
    border-radius: 10px 10px 10px 10px ;
}

#phones .phones-item .phones-link .phones-hover .phones-hover-content {
    font-size: 0.75rem;
    color: white;
}

#phones .phones-item .phones-link:hover .phones-hover {
    opacity: 1;
    background: rgb(74, 74, 74);
}

#phones .phones-item
{
    background-color: #fff;
}

.phones-hover i
{
    background-color: #000;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
}

#phones .main-btn
{
    border-radius: 20px 20px 20px 20px;
    background-color: #000;
    color: #fff;
    padding: 4% 4%;
    border: 1px solid transparent;
}

#phones .main-btn h6
{
    font-size: 13px;
    font-weight: 600;
}

/* PHONES MODAL */

.phones-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.phones-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.phones-modal .modal-content h2,
.phones-modal .modal-content .h2 
{
    font-size: 3rem;
    line-height: 3rem;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
}

.phones-modal .modal-content p.item-intro 
{
    font-style: italic;
    margin-bottom: 2rem;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.phones-modal .modal-content p 
{
    margin-bottom: 2rem;
}

.phones-modal .modal-content ul.list-inline 
{
    margin-bottom: 2rem;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.phones-modal .modal-content .close-modal .modal-body .main-btn 
{
    color: #fff;
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    width: 250px;
    height: 60px;
    border-color: #ffc800;
}

.phones-modal .modal-content img {
    margin-bottom: 2rem;
}

.phones-modal .close-modal .image {
    position: absolute;
    top: 1.5rem;
    right: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
}

.phones-modal .close-modal:hover 
{
    opacity: 0.3;
}

.phones-modal .close-modal 
{
    margin-left: 90%;
    margin-top: -6%;
}

.modal-body button
{
    width: 300px;
    height: 100px;
    background-color: #000;
    background-size: cover;
}
/*----------------------------Footer-------------------------*/
footer
{
    background-color: #000;
    color: #fff;
    padding: 2%;
}